[Unit]
Description=Change GNOME3 wallpaper to Bing's Picture of the Day as a daily a timer

[Timer]
OnCalendar=daily
Persistent=true
Unit=gnome_wallpaper_of_the_day.service

[Install]
WantedBy=graphical.target
