[Unit]
Description=Change GNOME3 wallpaper to Bing's Picture of the Day as a daily a timer

[Service]
Type=simple
ExecStart=%h/.local/bin/gnome_wallpaper_of_the_day.py

[Install]
WantedBy=graphical.target
